airbnb==2.3.2
beautifulsoup4==4.9.1
browsermob-proxy==0.8.0
fake-headers==1.0.2
fake-useragent==0.1.11
google-play-scraper==0.1.1
lxml==4.5.2
lightgbm==2.3.0
scikit-learn==0.23.1
scipy==1.5.0
matplotlib==3.3.0
mysql-connector-python==8.0.21
mysqlclient==2.0.1
numpy==1.19.1
pandas==1.1.0
portalocker==2.1.0
selenium==3.141.0
simplejson==3.17.2
tqdm==4.48.2
dateparser==1.0.0
pyopenssl==19.1.0
certifi==2020.11.8
pylcs==0.0.6
tendo==0.2.15
cryptography==3.0
tldextract==3.1.0
langdetect==1.0.8
google-trans-new==1.1.9
emoji==1.2.0

